# git ignore file
bin/
obj/
packages/
AppPackages/
*ReSharper*/

ApplicationInsights.config
*.ncrunch*
*.suo
*.csproj.user
*.nuget.props
*.nuget.targets
*.swp
Latest Chatty 8.psess
/.vs/config/applicationhost.config
/Common/project.lock.json
/Werd/BundleArtifacts
/Werd/_scale-400.appx
/Werd/_scale-150.appx
/Werd/_scale-125.appx
/Werd/_scale-100.appx
/Werd/_pkginfo.txt
/Werd/project.lock.json
/Tasks/project.lock.json
/Werd/HockeyAppAPIKey.txt
/.vs
