<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="WillieZutz.LatestChatty8" Publisher="CN=2FF32F59-E32A-4514-B08F-8B9F7E3BDE22" Version="2.16.103.0" />
  <Properties>
    <DisplayName>Latest Chatty</DisplayName>
    <PublisherDisplayName>Bit Shift Software LLC</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <!-- Not sure what the deal here is. The element is required, but I can't find what I'm supposed to fill it with for UWP apps. -->
  <mp:PhoneIdentity PhoneProductId="6d0e3b13-5f17-4dd6-9009-6d4370907522" PhonePublisherId="063a1720-130f-401d-8969-fc93738c3e11" />
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Latest_Chatty_8.App">
      <uap:VisualElements DisplayName="Latest Chatty" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Latest Chatty is a shacknews.com comments reader." BackgroundColor="transparent">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\Badge.png" />
        <uap:DefaultTile Square310x310Logo="Assets\BigLogo.png" ShortName="Latest Chatty" Wide310x150Logo="Assets\LogoWide.png">
          <uap:TileUpdate Recurrence="halfHour" UriTemplate="https://shacknotify.bit-shift.com/tileContent" />
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Tasks.NotificationBackgroundTaskHandler">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="Tasks.UnreadMessageNotifier">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>